<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBC7ynUzbHRo7oI5KAP_zhU__uxl13QjzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>688514171612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.therapy.traveling.traveling</string>
	<key>PROJECT_ID</key>
	<string>travelling-brandr-art</string>
	<key>STORAGE_BUCKET</key>
	<string>travelling-brandr-art.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688514171612:ios:4e990da08f178053eaaa19</string>
</dict>
</plist>